<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <h3>Balloons</h3>
    <a href="/login">Login</a>
    <ul>
        <li th:each="balloon : ${balloons} "><th:block th:text="${balloon.name}"></th:block> <th:block th:text="${balloon.description}"></th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:method="DELETE"  th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}">
                <button type="submit">

                    <i>Delete</i>
                </button>
            </form>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:method="POST"  th:action="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}">
                <button type="submit">Edit</button>
            </form>
            </th:block>
        </li>
    </ul>
    <a href="/balloons/add">Add new Baloon</a>

    <h2>Choose balloon color:</h2>
    <form th:method="POST" th:action="@{/}" >
        <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
        <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
        <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
        <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>
        <input type="submit" value="submit">
    </form>







    </form>

</main>
</body>
</html>
