<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Login</h1>
<form action="/login" method="POST">
    <div >
        <div>
            <label for="username">Enter your username: </label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   required
                   placeholder="Enter username">
        </div>'

            <label for="password">Enter your password</label>
            <input type="password"
                   id="password"
                   name="password"
                   required
                   placeholder="Enter password">
        </div>

    </div>
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>